In [4]:
import numpy as np
import os
import pandas as pd

cwd = os.getcwd()
data_dir = os.path.join(os.path.dirname(cwd), 'tests/data')

In [7]:
path = os.path.join(data_dir, 'sc_tables', '2_ri_agg_points_cache_064_sj_infsink.csv')
sc_table = pd.read_csv(path)

path = os.path.join(data_dir, 'sc_out', 'baseline_agg_summary.csv')
sc_points = pd.read_csv(path)

In [15]:
sc_table['category'].unique()

array(['TransLine', 'Substation', 'PCALoadCen', 'LoadCen'], dtype=object)

In [16]:
sc_table.groupby('trans_line_gid').first()

,sc_point_gid,sc_point_row_id,sc_point_col_id,category,ac_cap,cap_left,trans_gids,dist_mi
trans_line_gid,,,,,,,,
43300,1,0,1,TransLine,1260.0,126.000,NaN,7.020677
43412,1,0,1,TransLine,145.0,14.500,NaN,26.695952
43413,1,0,1,TransLine,1260.0,126.000,NaN,2.468309
43414,5,0,5,TransLine,145.0,14.500,NaN,20.681276
43415,1,0,1,TransLine,390.0,39.000,NaN,25.087733
43416,1,0,1,TransLine,1260.0,126.000,NaN,13.932740
43418,1,0,1,TransLine,390.0,39.000,NaN,25.344332
43419,1,0,1,TransLine,390.0,39.000,NaN,25.530336
43420,1,0,1,TransLine,390.0,39.000,NaN,13.932740
43421,1,0,1,TransLine,390.0,39.000,NaN,18.739331
43422,1,0,1,TransLine,390.0,39.000,NaN,19.679436
43423,1,0,1,TransLine,390.0,39.000,NaN,19.946765
43424,1,0,1,TransLine,390.0,39.000,NaN,9.796511
43425,1,0,1,TransLine,145.0,14.500,NaN,18.739331
43426,1,0,1,TransLine,145.0,14.500,NaN,23.194023
43427,1,0,1,TransLine,145.0,14.500,NaN,19.679436
43428,1,0,1,TransLine,1260.0,126.000,NaN,13.932740
43429,1,0,1,TransLine,390.0,39.000,NaN,22.471148
43430,1,0,1,TransLine,145.0,14.500,NaN,13.932740
43431,1,0,1,TransLine,390.0,39.000,NaN,15.463411
43432,1,0,1,TransLine,145.0,14.500,NaN,13.932740
43434,1,0,1,TransLine,145.0,14.500,NaN,24.510327
43435,1,0,1,TransLine,145.0,14.500,NaN,23.616986
43437,1,0,1,TransLine,145.0,14.500,NaN,24.052721
43438,124,12,7,TransLine,145.0,14.500,NaN,23.280857
43439,1,0,1,TransLine,145.0,14.500,NaN,10.278600
43440,1,0,1,TransLine,1260.0,126.000,NaN,7.020677
43441,1,0,1,TransLine,390.0,39.000,NaN,23.935279
43442,124,12,7,TransLine,145.0,14.500,NaN,23.280857
43443,1,0,1,TransLine,390.0,39.000,NaN,24.052721
...,...,...,...,...,...,...,...,...
69029,5,0,5,Substation,72.5,0.725,[43414],20.688241
69053,124,12,7,Substation,72.5,0.725,[43414],23.231496
69063,124,12,7,Substation,25.0,0.250,[47926],10.359299
69074,124,12,7,Substation,50.0,0.500,"[47925, 47926]",13.455481
69075,124,12,7,Substation,75.0,0.750,"[47925, 47931, 47934]",17.449009
69085,124,12,7,Substation,630.0,6.300,[43428],25.803118
69105,124,12,7,Substation,195.0,1.950,"[43442, 43438, 47931, 47934]",23.280857
69107,124,12,7,Substation,435.0,4.350,"[43613, 43442, 43620, 43622, 43612, 43438]",23.444929
69113,124,12,7,Substation,145.0,1.450,"[43613, 43622]",23.608142
69116,124,12,7,Substation,75.0,0.750,"[47927, 47923, 47928]",21.804795
69118,124,12,7,Substation,75.0,0.750,"[47928, 47929, 47930]",22.463145
69119,124,12,7,Substation,195.0,1.950,"[43620, 43612, 47927, 47930]",23.648390
69122,124,12,7,Substation,75.0,0.750,"[47923, 47932, 47929]",22.010606
69123,124,12,7,Substation,25.0,0.250,[47932],21.958006
80843,1,0,1,PCALoadCen,999999.0,99999.900,NaN,24.635449
80844,1,0,1,LoadCen,124.0,12.400,NaN,23.757391
80845,1,0,1,LoadCen,135.0,13.500,NaN,27.751771
80846,1,0,1,LoadCen,272.0,27.200,NaN,23.068696
80847,1,0,1,LoadCen,76.0,7.600,NaN,26.569196
80848,1,0,1,LoadCen,17.0,1.700,NaN,22.033357
80849,1,0,1,LoadCen,113.0,11.300,NaN,23.687446
80850,1,0,1,LoadCen,30.0,3.000,NaN,22.549770
80851,124,12,7,LoadCen,28.0,2.800,NaN,21.932600
80852,1,0,1,LoadCen,50.0,5.000,NaN,20.310968
80853,1,0,1,LoadCen,67.0,6.700,NaN,15.490549
80854,1,0,1,LoadCen,46.0,4.600,NaN,24.923447
80855,124,12,7,LoadCen,41.0,4.100,NaN,9.064903
80856,124,12,7,LoadCen,17.0,1.700,NaN,10.920443
80857,124,12,7,LoadCen,35.0,3.500,NaN,22.541656
80858,4,0,4,LoadCen,26.0,2.600,NaN,22.439230

In [14]:
for gid, row in sc_table.groupby('trans_line_gid').first().iterrows():
    print(gid, row['category'])

43300 TransLine
43412 TransLine
43413 TransLine
43414 TransLine
43415 TransLine
43416 TransLine
43418 TransLine
43419 TransLine
43420 TransLine
43421 TransLine
43422 TransLine
43423 TransLine
43424 TransLine
43425 TransLine
43426 TransLine
43427 TransLine
43428 TransLine
43429 TransLine
43430 TransLine
43431 TransLine
43432 TransLine
43434 TransLine
43435 TransLine
43437 TransLine
43438 TransLine
43439 TransLine
43440 TransLine
43441 TransLine
43442 TransLine
43443 TransLine
43448 TransLine
43451 TransLine
43605 TransLine
43612 TransLine
43613 TransLine
43620 TransLine
43622 TransLine
43636 TransLine
43852 TransLine
43864 TransLine
43865 TransLine
43883 TransLine
43906 TransLine
43918 TransLine
47843 TransLine
47919 TransLine
47922 TransLine
47923 TransLine
47924 TransLine
47925 TransLine
47926 TransLine
47927 TransLine
47928 TransLine
47929 TransLine
47930 TransLine
47931 TransLine
47932 TransLine
47934 TransLine
68784 Substation
68810 Substation
68811 Substation
68812 Substation
68814 Substation
68838 Substation
68867 Substation
68876 Substation
68899 Substation
68900 Substation
68901 Substation
68904 Substation
68905 Substation
68906 Substation
68914 Substation
68927 Substation
68929 Substation
68930 Substation
68931 Substation
68933 Substation
68939 Substation
68940 Substation
68942 Substation
68944 Substation
68946 Substation
68947 Substation
68948 Substation
68949 Substation
68950 Substation
68954 Substation
68955 Substation
68957 Substation
68959 Substation
68974 Substation
68977 Substation
68990 Substation
69029 Substation
69053 Substation
69063 Substation
69074 Substation
69075 Substation
69085 Substation
69105 Substation
69107 Substation
69113 Substation
69116 Substation
69118 Substation
69119 Substation
69122 Substation
69123 Substation
80843 PCALoadCen
80844 LoadCen
80845 LoadCen
80846 LoadCen
80847 LoadCen
80848 LoadCen
80849 LoadCen
80850 LoadCen
80851 LoadCen
80852 LoadCen
80853 LoadCen
80854 LoadCen
80855 LoadCen
80856 LoadCen
80857 LoadCen
80858 LoadCen

In [12]:
sc_table['category'].unique()

array(['TransLine', 'Substation', 'PCALoadCen', 'LoadCen'], dtype=object)

In [11]:
df

,sc_point_gid,sc_point_row_id,sc_point_col_id,trans_line_gid,category,ac_cap,cap_left,trans_gids,dist_mi
261,4,0,4,80858,LoadCen,26.0,2.6,NaN,22.439230
343,5,0,5,80858,LoadCen,26.0,2.6,NaN,20.308912
424,124,12,7,80858,LoadCen,26.0,2.6,NaN,26.108189
513,125,12,8,80858,LoadCen,26.0,2.6,NaN,25.834668
602,126,12,9,80858,LoadCen,26.0,2.6,NaN,26.022823
691,127,12,10,80858,LoadCen,26.0,2.6,NaN,26.690222
775,128,12,11,80858,LoadCen,26.0,2.6,NaN,27.805906
862,129,12,12,80858,LoadCen,26.0,2.6,NaN,29.318745
951,130,12,13,80858,LoadCen,26.0,2.6,NaN,31.170965
1040,131,12,14,80858,LoadCen,26.0,2.6,NaN,33.305994
1129,132,13,0,80858,LoadCen,26.0,2.6,NaN,41.184718
1198,133,13,1,80858,LoadCen,26.0,2.6,NaN,38.763828
1278,134,13,2,80858,LoadCen,26.0,2.6,NaN,36.533649
1365,135,13,3,80858,LoadCen,26.0,2.6,NaN,34.531154
1455,136,13,4,80858,LoadCen,26.0,2.6,NaN,32.798073
1545,137,13,5,80858,LoadCen,26.0,2.6,NaN,31.379077
1636,6,0,6,80858,LoadCen,26.0,2.6,NaN,18.628060
1718,7,0,7,80858,LoadCen,26.0,2.6,NaN,17.526473
2123,12,1,5,80858,LoadCen,26.0,2.6,NaN,17.399642
2207,13,1,6,80858,LoadCen,26.0,2.6,NaN,15.404554
2289,14,1,7,80858,LoadCen,26.0,2.6,NaN,14.052506
2697,19,2,5,80858,LoadCen,26.0,2.6,NaN,14.787261
2779,20,2,6,80858,LoadCen,26.0,2.6,NaN,12.378038
2858,21,2,7,80858,LoadCen,26.0,2.6,NaN,10.648401
2931,22,2,8,80858,LoadCen,26.0,2.6,NaN,9.958964
3405,28,3,6,80858,LoadCen,26.0,2.6,NaN,9.734025
3471,29,3,7,80858,LoadCen,26.0,2.6,NaN,7.411064
3534,30,3,8,80858,LoadCen,26.0,2.6,NaN,6.380940
3999,37,4,7,80858,LoadCen,26.0,2.6,NaN,4.698849
4058,38,4,8,80858,LoadCen,26.0,2.6,NaN,2.805655
...,...,...,...,...,...,...,...,...,...
16194,201,17,14,80858,LoadCen,26.0,2.6,NaN,48.519886
16284,202,18,1,80858,LoadCen,26.0,2.6,NaN,53.624659
16374,203,18,2,80858,LoadCen,26.0,2.6,NaN,52.035346
16464,204,18,3,80858,LoadCen,26.0,2.6,NaN,50.649485
16554,205,18,4,80858,LoadCen,26.0,2.6,NaN,49.484172
16644,206,18,5,80858,LoadCen,26.0,2.6,NaN,48.555290
16734,207,18,6,80858,LoadCen,26.0,2.6,NaN,47.876601
16822,208,18,7,80858,LoadCen,26.0,2.6,NaN,47.458840
16911,209,18,8,80858,LoadCen,26.0,2.6,NaN,47.308922
17000,210,18,13,80858,LoadCen,26.0,2.6,NaN,50.421789
17088,211,19,1,80858,LoadCen,26.0,2.6,NaN,56.807197
17178,212,19,2,80858,LoadCen,26.0,2.6,NaN,55.309410
17268,213,19,3,80858,LoadCen,26.0,2.6,NaN,54.007628
17358,214,19,4,80858,LoadCen,26.0,2.6,NaN,52.916320
17448,215,19,5,80858,LoadCen,26.0,2.6,NaN,52.048725
17538,216,19,6,80858,LoadCen,26.0,2.6,NaN,51.416170
17626,217,19,7,80858,LoadCen,26.0,2.6,NaN,51.027396
17714,218,19,8,80858,LoadCen,26.0,2.6,NaN,50.887991
17803,219,20,1,80858,LoadCen,26.0,2.6,NaN,60.034416
17893,220,20,2,80858,LoadCen,26.0,2.6,NaN,58.619146
17983,221,20,3,80858,LoadCen,26.0,2.6,NaN,57.392486
18073,222,20,4,80858,LoadCen,26.0,2.6,NaN,56.366749
18163,223,20,5,80858,LoadCen,26.0,2.6,NaN,55.553067
18253,224,20,6,80858,LoadCen,26.0,2.6,NaN,54.960859
18341,225,20,7,80858,LoadCen,26.0,2.6,NaN,54.597332
18429,226,21,1,80858,LoadCen,26.0,2.6,NaN,63.299483
18519,227,21,2,80858,LoadCen,26.0,2.6,NaN,61.958839
18609,228,21,3,80858,LoadCen,26.0,2.6,NaN,60.799595
18699,229,22,1,80858,LoadCen,26.0,2.6,NaN,66.596830
18789,230,22,2,80858,LoadCen,26.0,2.6,NaN,65.323893